body {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: baseline;
    background-color: antiquewhite;
}


nav {
    width: 100%;
    height: 80px;
    background-color: rosybrown;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.navbar-nav {
    background-color: rosybrown;
}

.logo {
    width: 121px;
    height: auto;
    margin-left: 0px;
    padding: 0px;
}


.banner {
    height: auto;
    overflow: hidden;
    margin-top: 50px;
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 400px;
}

h1 {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(79, 66, 48);
    border: 10px double;
    border-color: white;
    background-color: rosybrown;

}

.about {
    margin-top: 0 auto;
    float: right;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(79, 66, 48);
    border: 10px double;
    border-color: white;
    background-color: rosybrown;
}

.history {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(79, 66, 48);
    border: 10px double;
    border-color: white;
    background-color: rosybrown;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(79, 66, 48);
    padding: 20px;
}

p {
    margin: 0 auto;
    width: 90%;
    text-align: left;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 10px;
}

.content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.responsive-image {
    width: 35%;
    height: auto;
    margin: 20px auto;

}

.container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.history-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.history-image {
    width: 35%;
    height: auto;

}

footer {
    width: 100%;
    background-color: rosybrown;
    padding: 10px;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    clear: both;
}

.title-container {
    text-align: center;
    margin-top: 100px;
}

.card {
    background-color: antiquewhite;
    display: block;
    border: none;
    margin: 0 auto;
    height: 100%;
    flex-wrap: wrap;
}

.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.card-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card-text {
    text-align: center;
}

.meals {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.tables-container {
    margin: 0 auto;
}

.beveragesTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: none;
    padding: 10px;
    width: 70%;
}

.beveragesTable th:first-child {
    text-align: left;
}

.beveragesTable td:first-child {
    text-align: left;
}

.beveragesTable th:last-child {
    text-align: right;
}

.beveragesTable td:last-child {
    text-align: right;
}

.contact {
    width: 50%;
    margin-top: 20px;
    padding: 40px;
}

.contact-ttl {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(79, 66, 48);
    padding: 10px;
    border: 10px double;
    border-color: white;
    background-color: rosybrown;
    width: 400px;

}

.contact-table {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid black;
}

.contact-item {
    text-align: left;
    width: 20%;
    background-color: grey;
}

.contact-body {
    width: 80%;
}

.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200%;
    border-radius: 5px;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-submit {
    width: 250px;
    background-color: grey;
    color: black;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.branches-ttl {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(79, 66, 48);
    border: 10px double;
    border-color: white;
    background-color: rosybrown;
}

.addressList {
    border: none;
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.addressList th,
.addressList td {
    border: none;
    text-align: center;
    padding: 10px;
}

.addressList a {
    color: black;
    text-decoration: none;
}

.addressList a:hover {
    color: blue;
}

#name {
    width: 20%;
}

#phone {
    width: 10%;
}

#hours {
    width: 20%;
}

.privacy-policy {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.privacy-ttl {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(79, 66, 48);
    border: 10px double;
    border-color: white;
    background-color: rosybrown;
}



.privacy-text {
    text-align: center;
    font-style: initial;
    border: 1px double;
    border-radius: 5px;
}

.privacy-policy ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0 auto;
    display: block;
    text-align: left;
    width: 70%;
}

.privacy-policy li {
    font-size: 20px;
    padding: 10px;
}

.cafepolicy {
    margin-top: 100px;
}

.privacy {
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    width: 70%;
}

.p-privacy {
    width: 70%;
    margin: 0 auto;
}

.date {
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}

.cafe-information {
    font-size: 25px;
}

@media only screen and (max-width: 676px) {
    body {
        width: 100%;
        line-height: 1.2;
    }

    nav {
        margin-bottom: 100px;
        background-color: rosybrown;
    }

    #navbarNav {
        text-align: center;
    }

    .context {
        flex-wrap: wrap;
    }

    .about {
        font-size: 24px;
    }

    .history {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    img {
        width: 50%;
    }

    footer {
        padding: 10px;
        bottom: 0;
    }

    .card-text {
        text-align: center;
        margin: 0 auto;
    }

    #meals {
        margin: 0 auto;
    }

    h3 {
        font-size: 25px;
    }

    .addressList {
        width: 100%;
    }

    #name {
        width: 30%;
    }

    #phone {
        width: 30%;
    }

    #hours {
        width: 40%;
    }

    .privacy-policy {
        margin: 50px auto;
        width: 90%;
    }

    .privacy-ttl {
        margin-top: 50px;
    }

    .privacy-policy li {
        font-size: 15px;
        line-height: 1rem;
    }

}